
  @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600&family=Tilt+Neon&family=Tilt+Warp&display=swap');

*{
    margin:0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    

}
.container{
    width:100%;
    min-height:100vh;
    background: linear-gradient(135deg,#153677,#4e085f);
    padding: 10px;
}
.todo-app{
    width: 100%;
    max-width: 520px;
    background: #fff;
    margin: 100px auto 20px;
    padding: 40px 30px 70px;
    border-radius: 20px; 
    
}
.todo-app h2{
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    color: #153677;
}
.todo-app h2 img{
    width:30px;
    margin-left: 10px;
}
.row{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 20px;
    margin-bottom: 25px;
    border-radius: 30px;
    background:#edeef0 ;
}
input{
    outline: none;
    border: none;
    background: transparent;
    padding: 10px;
}
button{
    border: none;
    outline: none;
    background:#ff5945 ;
    color: #fff;
    font-size: 16px;
    padding: 16px 50px;
    cursor: pointer;
    border-radius: 0 40px 40px 0;
}
ul li{
    list-style: none;
    font-size: 17px;
    padding:10px 8px 10px 40px;
    user-select: none;
    cursor: pointer;
    position:relative;
}

ul li::before{
    content: ' ';
    height:20px;
    width:20px;
    position: absolute;
    background-image: url('images/unchecked.png');
    background-size: cover;
    border-radius: 50%;
    left:4px;
    top:12px;


}
ul li.checked{
    text-decoration: line-through;
    color: #858585;
}

ul li.checked::before{
    background-image: url('images/checked.png');
}

ul li span{
    position: absolute;
    top:5px;
    right:0px;
    width:40px;
    height:40px;
    font-size: 20px;
    line-height: 40px;
    text-align: center;
    border-radius: 50%;
}
ul li span:hover{
    background: #8585858b;
    transition: 0.3s ease-in;
}